.App{
    text-align: center;
    padding: 10px 50px 50px 50px;
} 

body{
    background: rgb(254, 255, 218);
}

a{
    color: rgb(156, 24, 177);
}

.App header{
    font-weight:normal;
    margin :30px 0;
    font-size:40px;
}

.App footer
{
    text-align: center;
    margin:30px;
}